'\nmulti-line\ncomments\ncan be done like this\n'

<b>Comment</b>
<li>Addition of # symbol to a line of code or text in pyhton console turns it to a comment. It is a good practice to always comment your code. Adding comments to your code can help achieve the following;
<li>Increasing readability<li>Explaining the code to others<li>Understanding the code easily after a long-term</div>
<li>Preserve your code for later use instead of deleting it</div>

## Pyhton Data types
#### Numbers : Integer and Float

In [6]:
type(2)

int

In [7]:
type(2.0)

float

In [8]:
# addition
2 + 2

4

In [5]:
# subtraction
2 - 2

0

In [6]:
# multiplication
2 * 2

4

In [15]:
#Float division - '/' will always retrun a float
3/2

1.0

In [19]:
2/2

1.0

In [18]:
# integer division (Floor division) - it can be used for both interger and floating point arguments
#either of these divisions will produce a whole number(integer)
2 // 2

1

Note: Floor division,  “//” operator is used to return the closest integer value which is less than or equal to a specified expression or value

In [16]:
3 // 2

1

In [17]:
5 // 2 ##return 2 which is closer than 3 which one would expected as in normal mathematics

2

In [21]:
#example
-5//2 #return -3 which is closer than -2 which one would expected as in normal mathematics

-3

In [22]:
-5.0//2

-3.0

In [9]:
2 ** 3  # exponents

8

In [10]:
2 ** 0.5  # square root

1.4142135623730951

In [11]:
5 % 2  # modulo operator (calculates the remainder)

1

In [12]:
int(2.0)  # conversion to an integer

2

In [23]:
int('123') #convert string to integer

123

In [24]:
int('AB25', 16) #convert from non decimal bases (up to 36) to an integer

43813

In [13]:
int(2.1)  # this rounds down

2

In [14]:
round(2.11)  # rounds to the nearest integer

2

In [15]:
round(2.11, ndigits=1)  # round to the nearest 0.1

2.1

In [16]:
float(2)  # conversion to float

2.0

In [17]:
import math
math.pi

3.141592653589793

In [18]:
math.lcm(2, 3, 5)  # least common multiple

30

### Boolean Type

Boolean, bool, have True and False Values. A number of operations native to integer and float can also be performed on boolean.

In [25]:
bool() #the default value of bool is False

False

In [26]:
bool(1)

True

In [27]:
False + True #boolean addition

1

In [28]:
True *2 + False + True/2

2.5

## Strings

In [19]:
'a string'

'a string'

In [20]:
"a string"

'a string'

In [21]:
print("""
multi-
line
string
""")

multi-
line
string

In [22]:
'a' + 'string'  # concatenate strings

'astring'

In [23]:
'a' * 2  # repeat strings

'aa'

In [24]:
str(2)  # convert a number to a string

'2'

In [25]:
# raw string -- the last backslash must be escaped with another backslash if it is at the end
r'C:\Users\Me\A folder\\'
r'C:\Users\Me\A folder\a file.txt'

'C:\\Users\\Me\\A folder\\a file.txt'

### String indexing

In [26]:
'a string'[0]  # first character of a string

'a'

In [27]:
'a string'[-1]  # last character of a string

'g'

In [28]:
'a string'[0:4]  # index a string to get first 4 characters

'a st'

In [29]:
'a string'[:4]  # index a string to get first 4 characters

'a st'

In [30]:
'a string'[::2]  # get every other letter

'asrn'

In [31]:
'a string'[::-1]  # reverse the string

'gnirts a'

In [32]:
'a string'[:5:2]  # every other letter in the first 5 characters

'asr'

### Built-in string methods

In [33]:
'-'.join(['this', 'is', 'a', 'test'])

'this-is-a-test'

In [34]:
'this is a test'.split()

['this', 'is', 'a', 'test']

In [35]:
'\t\n   - remove left'.lstrip()  # remove whitespace on the left

'- remove left'

In [36]:
'\t\n   - remove left'.rstrip()  # remove whitespace on the right

'\t\n   - remove left'

In [37]:
'testtest - remove left'.lstrip('test')  # remove all instances of 'test' from the left of the sting

' - remove left'

In [38]:
'testtest - remove left'.lstrip('tes')  # remove all instances of 'tes' characters from the left of the sting

' - remove left'

In [29]:
'testtest - remove left'.removeprefix('test')  # remove one instance of 'test' from the left of the string

'test - remove left'

In [40]:
'testtest - remove left'.removesuffix('left')

'testtest - remove '

In [41]:
f'string formatting {2 + 2}'

'string formatting 4'

In [42]:
print('tabs\tand\nnewlines')

tabs	and
newlines

In [43]:
print(r'tabs\tand newlines\n')

tabs\tand newlines\n

In [44]:
print('\t\n   - tabs and newlines')  # tab and newline at the beginning of a string, along with some spaces

   - tabs and newlines

## Variables

In [45]:
books = 1

In [46]:
books  # print out our variable

1

In [47]:
books = books + 1
books

2

In [48]:
books += 1
books

3

In [49]:
books -= 1
books

2

In [50]:
books *= 2
books

4

In [51]:
books /= 2
books

2.0

In [52]:
books **= 2
books

4.0

In [53]:
books %= 2
books

0.0

In [54]:
# concatenate two string variables
a = 'string 1'
b = 'another string'
a + b

'string 1another string'

In [55]:
# check variable type
type(a)

str

In [56]:
# don't do this!
# type = 'test'
# type(a)  # if you try this, the type() function will no longer work

## Lists, Tuples, Sets, and Dictionaries

In [32]:
# a basic list - list are comma seperted sequence of objects enclosed in square brackets. 
# emppty List can also be declear by 'list' with curl bracket or '[]'. 
[1, 2, 3]
list()

[]

In [58]:
# lists can contain different data types
[1, 'a', 3]

[1, 'a', 3]

In [59]:
# lists can contain other lists
[1, [1, 2, 3], 3]

[1, [1, 2, 3], 3]

In [60]:
# join lists
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [61]:
# repeat a list
[1, 2, 3] * 2

[1, 2, 3, 1, 2, 3]

In [62]:
# get the length of a list
len([1, 2, 3])

3

In [63]:
# make a blank list and add the element '1' to it
a_list = []
a_list.append(1)
a_list

[1]

In [64]:
# sort in-place
a_list = [1, 3, 2]
a_list.sort()
a_list

[1, 2, 3]

In [65]:
# sort
a_list = [1, 3, 2]
sorted(a_list)

[1, 2, 3]

In [66]:
# indexing: [start:stop:step]
a_list = [1, 2, 3, 4, 5]
a_list[0]

1

In [67]:
a_list[-1]

5

In [68]:
a_list[0:3]

[1, 2, 3]

In [69]:
a_list[:3]

[1, 2, 3]

In [70]:
a_list[::2]

[1, 3, 5]

In [71]:
a_list[0:3:2]

[1, 3]

In [72]:
# reverse a list
a_list[::-1]

[5, 4, 3, 2, 1]

### Tuples

In [73]:
a_tuple = (2, 3)
a_tuple

(2, 3)

In [74]:
tuple(a_list)

(1, 2, 3, 4, 5)

### Sets

In [75]:
set(a_list)

{1, 2, 3, 4, 5}

In [76]:
a_set = {1, 2, 3, 3}
a_set

{1, 2, 3}

In [77]:
set_1 = {1, 2, 3}
set_2 = {2, 3, 4}
set_1.union(set_2)

{1, 2, 3, 4}

In [78]:
set_1 | set_2

{1, 2, 3, 4}

In [79]:
set_1.difference(set_2)

{1}

In [80]:
# shorthand for different operator
set_1 - set_2

{1}

### Dictionaries

In [81]:
a_dict = {'books': 1, 'magazines': 2, 'articles': 7}
a_dict

{'books': 1, 'magazines': 2, 'articles': 7}

In [82]:
a_dict['books']

1

In [83]:
another_dict = {'movies': 4}
a_dict | another_dict

{'books': 1, 'magazines': 2, 'articles': 7, 'movies': 4}

In [84]:
a_dict['shows'] = 12

In [85]:
a_dict

{'books': 1, 'magazines': 2, 'articles': 7, 'shows': 12}

## Loops and Comprehensions

In [86]:
a_list = [1, 2, 3]
for element in a_list:
    print(element)

1
2
3

In [87]:
a_list = [1, 2, 3]
for index in range(len(a_list)):
    print(index)

0
1
2

This brings up the documentation for a function.

In [88]:
?range

In [89]:
a_list = [1, 2, 3]
for index, element in enumerate(a_list):
    print(index, element)

0 1
1 2
2 3

In [90]:
a_list = []
for i in range(3):
    a_list.append(i)

a_list

[0, 1, 2]

In [91]:
# a list comprehension
a_list = [i for i in range(3)]
a_list

[0, 1, 2]

In [92]:
a_dict = {'books': 1, 'magazines': 2, 'articles': 7}
for key, value in a_dict.items():
    print(f'{key}:{value}')

books:1
magazines:2
articles:7

In [93]:
# a dictionary comprehension
a_dict = {i: i ** 2 for i in range(1, 4)}
a_dict

{1: 1, 2: 4, 3: 9}

## Selecting Execution path

In [34]:
oranges = 11
oranges > 10

True

In [43]:
var_NoneType = None
var_NoneType is None

True

In [45]:
oranges = 12
if oranges < 10:
    print("You have only a few oranges.")
elif oranges >= 12:
    print("You've have a lot of oranges!")
else:
    print("You've have 10 or 11 oranges.")

You've have a lot of oranges!

In [48]:
a = 'test'
type(a) is str

True

In [49]:
type(a) is not str

False

In [98]:
'st' in 'a string'  # check for a substring in a string

True

In [99]:
a_set = {1, 2, 3}
1 in a_set

True

In [100]:
a_list = [1, 2, 3]
1 in a_list

True

In [101]:
a_dict = {1: 'val1', 2: 'val2', 3: 'val3'}
1 in a_dict

True

In [102]:
if 1 in a_set:
    print('1 is in there')

1 is in there

In [50]:
condition = False
if condition != False:
    print('not false')
elif condition == False:
    print('is false')

is false

## Libraries and Imports

In [33]:
import time
time.time()

1665794946.9249604

In [51]:
import time as t
t.time()

1665795546.5927072

In [52]:
import urllib.request
urllib.request.urlopen('https://www.pypi.org')

In [53]:
from urllib.request import urlopen
urlopen('https://www.pypi.org')

In [54]:
# importing a function from a subpackage of a library, and aliasing it
from urllib.request import urlopen as uo
uo('https://www.pypi.org')

## Functions

In [61]:
def test_function(doPrint, printAdd='more'):
    """
    A demo function.
    """
    if doPrint:
        print('test' + printAdd)
    return printAdd

In [62]:
value = test_function(True)
print(value)

testmore
more

In [63]:
# brings up documentation for sorted()
?sorted

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [64]:
a_list = [2, 4, 1]
sorted(a_list, reverse=True)

[4, 2, 1]

In [65]:
def test_function():
    """
    A demo function.
    """
    func_var = 'testing'
    print(func_var)

In [66]:
test_function() #calling the function you just defined

testing

In [67]:
func_var # trying to call an undefinded function

NameError: name 'func_var' is not defined

In [60]:
add10 = lambda x, y: x + y + 10
add10(10, 3)

23

## Classes

In [6]:
class TrafficLight:
    '''This is an updated traffic light class'''
    def __init__(self, color):
        self.color = color

    def action(self):
        if self.color=='red':
            print('Stop & wait')
        elif self.color=='yellow':
            print('Prepare to stop')
        elif self.color=='green':
            print('Go')
        else:
            print('Stop drinking ')

In [7]:
yellow = TrafficLight('yellow')
yellow.action()

Prepare to stop

## Refeences
Alan Gauld and Laura Cassell, edt1 2014, Python Projects, Wrox Press
https://github.com/jamwine